@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@import "bootstrap/dist/css/bootstrap.css";

@import "./bootstrap-icons.css";
@import  "./bootstrap53.min.css";
@import './formio.full.min.css';
*/

.counter {
  display: grid;
  font-size: 2em;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 2em;
  place-items: center;
}

.counter-message {
  text-align: center;
}
