---
import Layout from '~/layouts/Layout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `Ссраница не найдена`;
---

<Layout metadata={{ title }}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Страница</span>
          <span class="text-primary">не найдена</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">Извините, мы не смогли найти страницу с таким адресом</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          Но не волнуйтесь, вы можете найти множество интересного на нашей домашней странице .
        </p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">На Главную</a>
      </div>
    </div>
  </section>
</Layout>
