---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'О компании',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="О компании"
    image={{
      src: 'https://river.sputnik-germes.ru/img_new/BG2.jpg',
      alt: 'bg2',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> «Спутник-Гермес» </span>
    </Fragment>

    <Fragment slot="subtitle">
      Туристическая компания «Спутник-Гермес» образовалась 26 ноября 1999. Сегодня «Спутник-Гермес» - крупнейший
      туроператор в Самарской области по зарубежным турам и речным круизам. Богатый опыт, крепкие традиции,
      профессиональный подход в работе и современные технологии позволяют компании «Спутник-Гермес» оставаться лидером
      туризма в Самарском регионе. С момента основания руководит компанией Наталья Николаевна Денисова.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title=""
    stats={[
      { title: 'Офисы', amount: '4' },
      { title: 'Сотрудников', amount: '248' },
      { title: 'Теплоходов', amount: '9' },
      { title: 'года в туризме', amount: '22' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Основные виды деятельности"
    subtitle=""
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Зарубежный туризм',
        description: '',
        icon: 'tabler:template',
      },
      {
        title: 'Речные круизы',
        description: '',
        icon: 'tabler:template',
      },
      {
        title: 'Российский туризм',
        description: '',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Визы и паспорта',
        description: '',
        icon: 'tabler:template',
      },
      {
        title: 'Услуги',
        description: '',
        icon: 'tabler:template',
      },
      {
        title: 'Лечебные туры',
        description: '',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: '',
      alt: ' ',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
