---

import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Пример диаграмм',
};
---


  <script>
    import '~/styles/diagr.css';
    import '~/components/diagr/diagr.js';
    </script>

<Layout metadata={metadata}>
  <div class="app svelte-1mb9367"></div>
</Layout>
