---
import Layout from '~/layouts/PageLayout.astro';
import GPjsEdit from '~/components/GPjsEdit';
const someProps = {
  count: 3,
};
const metadata = {
  title: 'страница grapes',
};
---

<Layout metadata={metadata}>
  <GPjsEdit {...someProps} client:visible>
    <h1>Hello, React!</h1>
  </GPjsEdit>
</Layout>
